body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.endScreen {
  height: 100%;
  z-index: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/bg.jpg");
}

.overLay {
  background: #002039;
  background-blend-mode: overlay;
  z-index: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  position: absolute;
}

.starContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  z-index: 10;
  top: 500px;
  left: 500px;
  width: 40px;
  margin-left: -20px;
}

.starName {
  z-index: 7;
  visibility: hidden;
  align-content: center;
  align-items: center;
  font-family: skautbold;
  color: #ffc107;
}

.starName.show {
  opacity: 1;
  visibility: visible;
}

.content {
  z-index: 4;
}

.playerContainer {
  flex: 1;
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: flex;
  justify-self: flex-end;
  align-items: flex-end;
  justify-content: center;
  z-index: 10;
}